{{#if logged_in}}
<div class="user-block">
    <p>Welcome, {{username}}</p>
    <a href="/dashboard">Dashboard</a>
    <a href="/logout">Logout</a>
</div>
{{else}}
<div class="user-block">
    <a href="/login">Login</a>
    <a href="/signup">Sign up</a>
</div>
{{/if}}