<h2>My Dashboard</h2>

{{#if posts.length}}
  {{#each posts}}
    <div class="post">
      <h3>{{title}}</h3>
      <p class="post-details">
        Posted by {{this.User.username}} on {{this.createdAt}}
      </p>
    </div>
  {{/each}}
{{else}}
  <p>No posts available.</p>
{{/if}}