<h2>Dashboard</h2>

{{!-- Display existing blog posts --}}
{{#if posts.length}}
  <h3>My Blog Posts</h3>
  <ul>
    {{#each posts}}
      <li>
        <h4>{{title}}</h4>
        <p>{{content}}</p>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No blog posts found.</p>
{{/if}}

{{!-- Button to create a new post --}}
<a href="/post" class="btn btn-primary">Create New Post</a>