{{#if posts.length}}
  <ul class="post-list">
    {{#each posts}}
      <li class="post-item">
        <a href="dashboard/post/{{id}}">
          <h4>{{title}}</h4>
        </a>
        <p>Posted on: {{createdAt}}</p>
      </li>
    {{/each}}
  </ul>
{{/if}}

<div class="add-new-post">
  <a href="/dashboard/post/new" class="new-post-button">+ New Post</a>
</div>