{{#if posts.length}}
  <!-- Iterate over existing posts -->
  <ul>
    {{#each posts}}
      <li>{{this.title}}</li>
    {{/each}}
  </ul>
{{else}}
  <!-- Show button to create a new post -->
  <a href="/create-post">Create New Post</a>
{{/if}}