{{#if posts.length}}
  <ul class="post-box">
    {{#each posts}}
    <li>
      <div class="post-box">
        <div class="post-title">
          <a href="dashboard/post/{{id}}/edit">
            <h2>{{title}}</h2>
          </a>
          <p class="post-date">{{formatDate createdAt}}</p>
        </div>
      </div>
    </li>
      {{/each}}
  </ul>
{{/if}}

<div class="add-new-post">
  <a href="/dashboard/post/new" class="new-post-button">+ New Post</a>
</div>