{{!-- Use the main layout --}}
{{#extends 'layouts/main'}}

{{!-- Specify the content for the body --}}
{{#content 'body'}}
    <h1>The Tech Blog</h1>

    {{#if blogPosts.length}}
        <h2>Latest Blog Posts:</h2>
        <ul>
            {{#each blogPosts}}
                <li>
                    <h3>{{title}}</h3>
                    <p>Created on: {{createdAt}}</p>
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>No blog posts found.</p>
    {{/if}}
{{/content}}