{{#if posts.length}}
  <ul>
    {{#each posts}}
      <li>
        <a href="/post/{{id}}">
          <h4>{{title}}</h4>
        </a>
        <p>Posted on: {{createdAt}}</p>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No blog posts found.</p>
{{/if}}