{{#if loggedIn}}
  <form class="new-post">
    <textarea name="post" placeholder="Write post"></textarea>
    <button type="submit" class="btn">Submit</button>
  </form>
{{else}}
  <p>Please <a href="/login">login</a> to write a post.</p>
{{/if}}