/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #D9EAD3;
}

h1 {
  color: #D9EAD3;
  font-size: 18px;
  text-decoration: none;
}

h2 {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

/* Top Navigation */
.main-header {
  background-color: black;
}

.navbar {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  padding-left: 25px;
}

.navbar li {
  display: inline-block;
  margin-right: 50px;
}

.navbar li a {
  color: #D9EAD3;
}

.logo {
  display: inline-block;
  max-width: 250px;
  margin-top: 10px;
  margin-bottom: 25px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 6px 4px lightgray;
  background-color: #D9EAD3;
  color: black;
  font-size: 24px;
  font-weight: bold;
}

/* Shared styling */
.container {
  max-width: 800px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  min-height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: black;
  color: #D9EAD3;
  font-size: 18px;
}

.content {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid black;
  background-color: #D9EAD3;
}

.primary-btn {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: gray;
    color: white;
    font-size: 16px;
  }

/* Forms */
.form-group {
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
textarea {
  width: 100%;
  margin-top: 3px;
  padding: 10px;
}

.form-group a {
  color: blue;
}

.add-new-post {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-post-button {
  display: inline-block;
  margin-top: 300px;
  padding: 15px;
  border-radius: 5px;
  background-color: black;
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.post-box {
  padding: 5px;
  background-color: gray;
  border-radius: 5px;
}

.post-title {
  display: flex;
  margin-top: 5px;
  justify-content: space-between;
  align-items: center;
}

.post-title a {
  text-decoration: none;
}

.post-date {
  color: white;
  font-size: 20px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.comment-details {
  font-style: italic;
  font-size: 14px;
  color: #888;
}

/* Posted by text */
.details p {
  font-size: 12px;
}