/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background-color: #f2f2f2;
  padding: 20px;
}

.header {
  background-color: black;
}

.navbar {
  color: white;
  padding: 10px;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin-top: 10px;
  margin-left: 25px;
  margin-right: 75px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.logo {
  display: inline-block;
  border-radius: 5px;
  background-color: lightgreen;
  color: black;
  font-size: 24px;
  padding: 10px;
  margin-left: 50px;
  margin-bottom: 25px;
  text-align: center;
  font-weight: bold;
  box-shadow: 2px 2px 4px #888;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 20px;
}

form {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

a {
  color: green;
  text-decoration: none;
}

p {
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.comment-details {
  font-style: italic;
  font-size: 14px;
  color: #888;
}

/* Links */
a:hover {
  text-decoration: underline;
}

/* Buttons */
button:hover {
  background-color: #0056b3;
}

/* Form error messages */
.error-message {
  color: #ff0000;
  font-size: 14px;
  margin-top: 5px;
}

/* Posts */
.post-item {
  border: 2px solid black;
  background-color: lightgreen;
}

.post-header {
  display: flex;
  justify-content: space-between;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: black;
}

.post-title {
  padding-left: 10px;
  text-align: left;
}

.post-title h4 {
  font-size: 18px;
  color: lightgray;
}

.post-details {
  padding-top: 5px;
  padding-right: 10px;
  text-align: right;
}

.post-details p {
  font-size: 12px;
  color: lightgray;
}

.post-content {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  text-align: left;
}

.post-content p {
  margin: 0;
  font-size: 14px;
  color: black;
}

/* Comment section */
.comment-section {
  margin-top: 20px;
}

.comment-section h4 {
  margin-bottom: 10px;
}

.comment {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  margin-bottom: 10px;
}

.comment p {
  margin-bottom: 5px;
  color: #444;
}

.comment .comment-details {
  font-style: italic;
  font-size: 12px;
  color: #888;
}